ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
p{
  margin: 0 auto;
}
h3{
  margin: 0 auto;
}
h5{
  margin: 0;
}
p{
  margin: 0;
}
input{
  margin: 0;
  
}
h1{
  margin: 0;
}